[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
