vim/bundle/
config/nvim/plugged/
config/nvim/undodir/
config/gh
config/hub
config/fish/fish_history
config/fish/fish_variables
config/fish/fishd.*
config/fish/functions/fzf_key_bindings.fish
config/asciinema/
config/diren/
config/heroku/
config/yarn/
config/karabiner/
config/configstore/
config/direnv/
config/exercism
config/pgcli
config/devkit/
gnupg/
