config/.mono/
config/asciinema/
config/configstore/
config/devkit/
config/diren/
config/direnv/
config/exercism
config/fish/fish_history
config/fish/fish_variables
config/fish/fishd.*
config/fish/functions/fzf_key_bindings.fish
config/gcloud/
config/gh/hosts.yml
config/gh/state.yml
config/heroku/
config/htop/
config/hub
config/iterm2/
config/karabiner/
config/nnn/
config/nvim/plugged/
config/nvim/undodir/
config/pgcli
config/raycast/
config/stripe/
config/yarn/
gnupg/
vim/bundle/
