# Copy this to secrets.fish and fill in your credentials

# 3D camera RTSP stream URLs
set -x 3D_PRINTER_CAM1_URL "rtsp://user:pass@ip:port/stream1"
set -x 3D_PRINTER_CAM2_URL "rtsp://user:pass@ip:port/stream1"
